server:
  port: 8082

spring:
  application:
    name: ecommerce-product
  
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ecommerce_product?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false
    username: root
    password: root123
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
  
  redis:
    host: localhost
    port: 6379
    password: redis123
    database: 1
    timeout: 3000ms
  
  elasticsearch:
    uris: http://localhost:9200
  
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.ecommerce.product.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    com.ecommerce.product: debug
