server:
  port: 8080

spring:
  application:
    name: ecommerce-gateway
  
  redis:
    host: localhost
    port: 6379
    password: redis123
    database: 3
  
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml
    
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      
      routes:
        # 用户服务路由
        - id: ecommerce-user
          uri: lb://ecommerce-user
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@ipKeyResolver}"
        
        # 商品服务路由
        - id: ecommerce-product
          uri: lb://ecommerce-product
          predicates:
            - Path=/api/product/**
          filters:
            - StripPrefix=1
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 40
                key-resolver: "#{@ipKeyResolver}"
        
        # 订单服务路由
        - id: ecommerce-order
          uri: lb://ecommerce-order
          predicates:
            - Path=/api/order/**
          filters:
            - StripPrefix=1
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@ipKeyResolver}"
            - AuthFilter

logging:
  level:
    org.springframework.cloud.gateway: debug
